#body{
  font-family:Arial, sans-serif;
  background-image:url("images/background\ of\ cv.jpg");
} 

#main {
  border-radius: 10px;
  width: 700px;
}

#line-progress{

  background-color: #ddd;
  border-radius: 20px;

}
.step{

  border: 0.1em solid gray;
  padding: 0.19em;
  border-radius: 1em;
  text-align: center;
  border-width: 0.1em;
  margin-bottom:15px;

} 

.group1 input{
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:14px;
  margin-bottom: 14px;
  width: 300px;
}


.group2 input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:14px;
  margin-bottom: 14px;
  width: 300px;
}


button:hover {
  background-color: #2563eb;

}

.section.active{
  display:block;
}

.section {
  display:none;
}