#body{
  font-family:Arial, sans-serif;
  background-image:url("images/background\ of\ cv.jpg");
} 

#main {
  border-radius: 10px;
  width: 700px;
}

#line-progress{

  background-color: #ddd;
  border-radius: 20px;

}
.step{

  border: 0.1em solid gray;
  padding: 0.19em;
  border-radius: 1em;
  text-align: center;
  border-width: 0.1em;
  margin-bottom:15px;

} 

.group1 input{
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:14px;
  margin-bottom: 14px;
  width: 300px;
}


.group2 input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:14px;
  margin-bottom: 14px;
  width: 300px;
}


button:hover {
  background-color: #2563eb;

}

.section.active{
  display:block;
}

.section {
  display:none;
}

.lang-item{
  display: flex;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 10px 15px;
  border-radius:8px;

}

.lang-item p{
  font-weight: 600;
  color:#333;

}

.lang-item span{
  background-color:rgb(213, 237, 103);
  color:black;
  border-radius:10px;
  font-size:14px;

}